@use "variables" as *;

h1,
h2,
h3 {
  font-family: $custom-heading-font;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$primary: #e9fae3;
$nav-link-color: $body-color;
$nav-link-hover-color: $primary;
$nav-link-font-size: $font-size-lg;
$nav-link-font-weight: $font-weight-bold;
$navbar-brand-margin-end: 0;
$heading-font-family: $custom-heading-font;
@import "~bootstrap/scss/bootstrap";
