@use "variables" as *;

h1,
h2,
h3 {
  font-family: $custom-heading-font;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$theme-colors: (
  "main": #dbb3b1,
);

$primary: #e9fae3;
$nav-link-color: $body-color;
$nav-link-hover-color: $primary;
$nav-link-font-size: $font-size-lg;
$nav-link-font-weight: $font-weight-bold;
$heading-font-family: $custom-heading-font;

$body-color: #02111b;
@import "~bootstrap/scss/bootstrap";

.card-title {
  font-weight: bold;
  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.btn-main {
  color: white;
  &:hover {
    color: $primary;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: #e9fae3;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
