@use '../styles/variables' as *;

.headerImage {
  background-image: url("../images/greenshirts-large.jpg");
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  width: 80%;
  color: white;
  background-color: #dbb3b1;
  display: flex;
  justify-content: center;
  align-items: center;
}
