@use "../styles/variables" as *;

.wrapper {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.icon {
  font-size: $font-size-lg;
}

.left_item {
  grid-column: 1/2;
}

.right_item {
  grid-column: 3/4;
}
