@import "node_modules/bootstrap/scss/mixins/_breakpoints";
.wrapper {
  text-decoration: none;
  color: inherit;
  border: none;
  //   &:hover {
  //     color: inherit;
  //     border-color: #e9fae3;
  //     border: 5px solid black;
  //   }
}

.cardImage {
  max-width: 200px;
  // height: auto;
  margin: auto;
}
